@import "tailwindcss";

@variant dark (&:is(.dark *));

@theme {
  --font-serif: 'Instrument Serif', serif;
  --font-sans: 'Helvetica Neue LT Pro 65 Medium', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

body {
  @apply bg-white text-black antialiased;
  @apply dark:bg-black dark:text-white;
}
